*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height:100%;
    width:99%;
    background-color: #222831; 
    
}
.con1{
    height:fit-content;
    width:90vw;
    background-color: #222831;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5vw;
    row-gap: 3vh;    
}
img{
    height:20vh;
    width:20vw;
    border-radius: 2vh;
}
.head1{
    font-size: 5vh;
    margin-left: 40vw;
    
}
h1{
    color: #362391;
}
.head2{
    font-size: 5vh;
}
p{
    font-size: 3vh;
    color: #1C0C59;
}
.mot{
    background-color: #222831;
    height:50vh;
    width:25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.par{
    background-image: conic-gradient(from var(--angle), #1C0C59,#362391,#5853BC,#F6EB9A,#1C0C59); 
    height:52vh;
    width:26vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 5s linear infinite;
    border-radius: 2vh;
    margin-bottom: 1vh;
}
.par::before{
    content: "";
    filter: blur(1);
}
@property --angle {
    syntax: "<angle>";
    initial-value:0deg;
    inherits:false;
}

@keyframes spin { 
    0%{
        --angle:0deg
    }
    100%{
        --angle:360deg
    }
}